@use "sass:math";
//<МИКСИНЫ>===============================================================================================
@import "mixins";
//</МИКСИНЫ>===============================================================================================

//<ШРИФТЫ>===============================================================================================

//<Подключаем шрифты>=======================================================================================
//&display=swap&subset=cyrillic-ext
@import url("https://fonts.googleapis.com/css?family=Roboto:300,regular,500,700,900&display=swap&subset=cyrillic-ext");
@import "fonts";
//</Подключаем шрифты>=======================================================================================

//<Иконочные шрифты>==========================================================================================
//@import "icons";
//</Иконочные шрифты>==========================================================================================

//<Шрифт по умолчанию>==========================================================================================
$fontFamily: "Roboto";
$fontSize: 16;
//</Шрифт по умолчанию>==========================================================================================

//</ШРИФТЫ>=======================================================================================================

//<ПЕРЕМЕННЫЕ>==========================================================================================================
$minWidth: 320px;
$maxWidth: 1400;
$maxWidthContainer: 1180;
$md1: $maxWidthContainer+12;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;

$mainColor: #000;

//</ПЕРЕМЕННЫЕ>===========================================================================================================

//<ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================
@import "null";

body {
	color: $mainColor;

	&._lock {
		overflow: hidden;
	}
}

//</ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================

//<ОБОЛОЧКА>===========================================================================================================
.wrapper {
	width: 100%;
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;

	&._loaded {}
}

//</ОБОЛОЧКА>===========================================================================================================

//<ОСНОВНАЯ СЕТКА>===========================================================================================================
._container {
	max-width: $maxWidthContainer + px;
	margin: 0 auto;
	padding: 0 20px;

	@media (max-width: $md3+px) {
		padding: 0 10px;
	}
}

//</ОСНОВНАЯ СЕТКА>===========================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================
@import "forms";
@import "ui";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================
//@import "datepicker";
//@import "lightgallery";
//@import "pagging";
@import "popup";
@import "header";
@import "footer";
@import "home";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================

//<ОСНОВНОЙ БЛОК>====================================================================================================
.page {
	padding: 16px 0 0 0;
	flex: 1 1 auto;

	&__container {
		display: flex;
	}

	&__side {
		flex: 0 0 260px;
	}

	&__menu {}

	&__content {
		flex: 1 1 auto;
		padding: 0 0 0 30px;
	}
}

.menu-page {
	background: url("../img/bg_menu.jpg") top no-repeat;
	position: relative;

	&__header {
		padding: 20px;
		display: flex;
		align-items: center;
	}

	&__title {
		font-size: 30px;
		color: #fff;
		font-family: "UniSans";
		line-height: 35 / 30 * 100%;
		text-transform: uppercase;
		letter-spacing: 0.75px;
	}
	
	&__lines {
		height: 16px;
		position: relative;
	}

	&__burger {
		flex: 0 0 36px;
		width: 36px;
		height: 36px;
		background-color: #068292;
		cursor: pointer;
		z-index: 5;
		position: relative;
		padding: 10px 6px;

		span {
			transition: all 0.3s ease 0s;
			top: calc(50% - 1px);
			left: 0px;
			position: absolute;
			width: 100%;
			height: 2px;
			background-color: #fff;

			&:first-child {
				top: 0px;
			}

			&:last-child {
				top: auto;
				bottom: 0px;
			}
		}

		&._active {
			span {
				transform: scale(0);

				&:first-child {
					transform: rotate(-45deg);
					top: calc(50% - 1px);
				}

				&:last-child {
					transform: rotate(45deg);
					bottom: calc(50% - 1px);
				}
			}
		}
	}

	&__body {}

	&__list {
		li {
			border-bottom: 1px solid #1aa7b9;
		}
	}

	&__link {
		letter-spacing: 0.3px;
		font-weight: 300;
		font-style: 12px;
		display: block;
		color: #fff;
		padding: 12px 20px;
		position: relative;

		&_parent {
			&::after {
				content: '';
				position: absolute;
				right: 10px;
				top: 50%;
				width: 14px;
				height: 14px;
				transform: translate(0px, -50%);
				background: url("../img/menu_arrow.png");
			}
		}

		@media (min-width:$md2+px) {
			&:hover {
				background-color:#098494;
			}
		}
	}

	&__submenu {
		position: absolute;
		top: 0;
		height: 100%;
		left: 100%;
	}
}

.submenu-page {
	width: 280px;
	border: 2px solid #098494;
	background-color: #fff;
	// .submenu-page__item
	&__item {
	}
	// .submenu-page__menu
	&__menu {
		border-bottom: 1px solid #dedede;
		padding: 20px 0;
		li {
			
		}
	}
	// .submenu-page__link
	&__link {
			color: #1ab9ce;
			font-size: 12px;
			font-weight: 300;
			letter-spacing: 0.3px;
			display: block;
			padding: 10px 40px;

			@media (min-width:$md2+px) {
				&:hover{
					background-color: #71c7d3;
					color: #fff;
				}
			}
	}
	// .submenu-page__product
	&__product {
		padding: 0 15px;
	}
}
.item-product {
	padding: 15px;
	position: relative;

	// .item-product__labels
	&__labels {
		position: absolute;
		left: 15px;
		top: 15px;
	}
	// .item-product__label
	&__label {
		font-weight: 900;
		color: #fff;
		border-radius: 15px;
		display: flex;
		justify-content: center;
		align-items: center;
		margin: 0 0 10px 0;
		padding: 0 15px;
		text-transform: uppercase;
		height: 21px;
		background-color: #fd8424;
	}
	// .item-product__image
	&__image {
		height: 195px;
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 10px 0;
		img {
			max-width: 100%;
			max-height: 175px;
		}
	}
	
	&__body {
		padding: 0 10px;
	}

	// .item-product__title
	&__title {
		color: #36949f;
		font-size: 16px;
		font-weight: 300;
		line-height: 24px;
	}
	// .item-product__footer
	&__footer {
	}
	// .item-product__old-price
	&__old-price {
		text-align: right;
		color: #999999;
		font-size: 18px;
		font-weight: 300;
		line-height: 24px;
		text-decoration: line-through;
		&::after {
			
		}
	}
	// .item-product__bottom
	&__bottom {
	}
	// .item-product__add
	&__add {
	}
	// .item-product__price
	&__price {
	}
}

//===================================================================================================================================

//</ОСНОВНОЙ БЛОК>====================================================================================================